.todoForm {
    display: flex;
}

.btn{
    margin-right: 5px;
}

.markedAsDone{
    text-decoration: line-through;
    color: #ccc;
}

.table{
    margin: 10px;
}

.tableActions{
    width: 130px;
}

.todoForm{
    padding-bottom: 40px;
}

.page-header{
    margin-top: 20px;
    margin-bottom: 20px;
}